@import 'src/styles/mixins/breakpoints.scss';

.Upcoming {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  @include large-mobile {
    grid-template-columns: 1fr 1fr;
  }
  @include mobile {
    grid-template-columns: 1fr;
  }
}
