@import '../../../styles/variables/colors';
@import 'src/styles/mixins/breakpoints.scss';

#HomeView {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  @include mobile {
    padding: 10px;
  }
}

@keyframes rock {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
