@import '../../../styles/variables/colors';
@import 'src/styles/mixins/breakpoints.scss';

#HomeView {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  @include mobile {
    padding: 10px;
  }
}
